:root {
    --dark-blue: #2f318c
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

button {
    cursor: pointer;
    outline: none;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header {
    height: 770px;
    position: relative;
}

.header__logo {
    max-width: 350px;
    height: 52px;
    margin-top: 70px;
}

.header__description {
    max-width: 540px;
    margin-top: 220px;
    font-weight: 400;
    text-transform: uppercase;
    color: #30318c;
    font-size: 30px;
}

.header__description span {
    font-weight: 600;
}

.header__feedback-btn {
    min-height: 55px;
    display: block;
    font-size: 15px;
    padding: 0 43px;
    border: 1px solid var(--dark-blue);
    background: #ffffff;
    text-transform: uppercase;
    color: var(--dark-blue);
    border-radius: 50px;
    margin: 160px auto 0;
}

.header__slider {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.header__slider .swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.header__slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__slide::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left, #ffffff, transparent);
}

.header__slider .swiper-pagination {
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
    text-align: left;
    display: flex;
    gap: 45px;
}

.header__slider .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: #ffffff;
    border: 1px solid var(--dark-blue);
    transition: background-color .2s ease;
    opacity: 1;
    margin: 0 !important;
}

.header__slider .swiper-pagination-bullet:hover {
    background: var(--dark-blue);
}

.header__slider .swiper-pagination-bullet-active {
    background: var(--dark-blue);
}

.header__content {
    position: relative;
    z-index: 3;
}


.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}
