:root {
    --dark-blue: #2f318c
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

button {
    cursor: pointer;
    outline: none;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.section__title {
    font-size: 25px;
    font-weight: 600;
    color: #30318c;
    text-transform: uppercase;
    text-align: center;
}

.section__subtitle {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.header {
    height: 770px;
    position: relative;
}

.header__toggle-language {
    position: absolute;
    top: 20px;
    right: 0;
}

.header__logo {
    max-width: 350px;
    width: 100%;
    height: 52px;
    margin-top: 74px;
}

.header__description {
    max-width: 540px;
    margin-top: 218px;
    font-weight: 400;
    text-transform: uppercase;
    color: #30318c;
    font-size: 30px;
}

.header__description span {
    font-weight: 600;
}

.header__btn {
    margin: 158px auto 0;
    border: 1px solid var(--dark-blue) !important;
    background: #ffffff !important;
    color: #30318c !important;
    transition: all .2s ease;
}

.header__btn:hover {
    background: #30318c !important;
    color: #ffffff !important;
}

.header__slider {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.header__slider .swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.header__slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__slide::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left, #ffffff, transparent);
}

.header__slider .swiper-pagination {
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
    text-align: left;
    display: flex;
    gap: 45px;
}

.header__slider .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: #ffffff;
    border: 1px solid var(--dark-blue);
    transition: background-color .2s ease;
    opacity: 1;
    margin: 0 !important;
}

.header__slider .swiper-pagination-bullet:hover {
    background: var(--dark-blue);
}

.header__slider .swiper-pagination-bullet-active {
    background: var(--dark-blue);
}

.header__content {
    position: relative;
    z-index: 3;
}

.language__title {
    width: 50px;
    height: 38px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
    padding-left: 15px;
    position: relative;
    color: #666666;
}

.language__title-icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}


.get__block {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.get {
    padding-bottom: 40px;
}

.get__title {
    margin-top: 30px;
}

.get__images {
    width: 50%;
    text-align: center;
    padding-right: 70px;
}

.get__images img {
    margin-left: 100px;
}

.get__items {
    width: 50%;
    padding-left: 17px;
    padding-top: 55px;
}

.get__item {
    color: #30318c;
}

.get__item:not(:first-child) {
    margin-top: 70px;
}

.get__item:last-child {
    margin-top: 80px;
}



.get__item-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.get__item-description {
    font-size: 18px;
    margin-top: 15px;
}

.get__item-image {
    width: 40px;
    text-align: center;
}

.get__line {
    height: 130px;
    width: 1px;
    background: var(--dark-blue);
    margin: 0 auto;
}

.get__line--top {
    margin-top: -65px;
    position: relative;
    z-index: 5;
}

.get__line--bottom {
    margin-top: 30px;
}


.sale__items {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.sale__item {
    max-width: 220px;
    text-align: center;
}

.sale__img {
    width: 86px;
    height: 94px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid var(--dark-blue);
}

.sale__item-description {
    font-size: 17px;
    font-weight: 600;
    color: #2e2e2e;
    text-transform: uppercase;
    margin-top: 18px;
}

.sale__line {
    height: 90px;
    width: 1px;
    background: var(--dark-blue);
    margin: 70px auto 0;
}

.think {
    margin-top: 45px;
}

.think__slider {
    height: 100px;
    margin-top: 50px;
}

.think__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
}

.think__btn {
    margin: 20px auto 0;
}

.become-partner__subtitle {
    font-size: 20px;
}

.become-partner__title {
    margin-top: 33px;
}

.become-partner__line {
    margin-top: 52px;
    height: 128px;
}


.become-partner__block {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

.become-partner__item {
    max-width: 255px;
    text-align: center;
    padding: 0 28px 25px;
    border: 1px solid #d7d7d7;
    border-radius: 20px;
    position: relative;
}

.become-partner__item-number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #d7d7d7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #8e8e8e;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
}

.become-partner__item-title {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 50px;
}

.become-partner__item-subtitle {
    font-size: 16px;
    margin-top: 20px;
}

.become-partner__item-icon {
    margin-top: 60px;
}

.become-partner__btn {
    margin: 45px auto 0;
}

.footer {
    padding: 50px 0 45px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__copyright {
    font-size: 13px;
    color: #d7d7d7;
    text-align: right;
}

.footer__logo {
    max-width: 120px;
    width: 100%;
    height: 20px;
    margin-top: 12px;
}

.feedback-btn {
    display: block;
    min-height: 54px;
    padding: 0 32px;
    font-size: 15px;
    border: 0;
    border-radius: 50px;
    text-transform: uppercase;
    background: #30318c;
    color: #ffffff;
}



.dropdown {
    position: relative;
    top: 7px;
    width: 50px;
    height: 35px;
}

.dropdown__icon {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

.dropdown.active .dropdown__icon {
    top: 43%;
    transform: rotate(-180deg);
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    font-size: 13px;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding-left: 22px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

.dropdown .options {
    position: absolute;
    top: 40px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown.active .options {
    display: block;
}

.dropdown .options div {
    padding: 6px 0;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

.dropdown .options div:hover {
    background: #62baea;
    color: #fff;
}


@media only screen and (max-width: 1200px) {
    .container {
        margin: 0 15px;
    }

    .header {
        height: 710px;
    }

    .header__logo {
        margin-top: 15px;
    }

    .header__btn {
        margin-top: 155px;
    }

    .header__toggle-language {
        top: 15px;
    }


    .get__title {
        margin-top: 27px;
    }

    .get__block {
        margin-top: 29px;
    }

    .get__images img {
        margin-left: 15px;
    }

    .get__item-description {
        margin-top: 10px;
    }

    .get__line--bottom {
        margin-top: 20px;
    }

    .think__slider {
        max-width: 730px;
    }

    .become-partner__block {
        max-width: 540px;
        justify-content: center;
        flex-wrap: wrap;
        margin: 78px auto 0;
        column-gap: 30px;
        row-gap: 55px;
    }

    .become-partner__btn {
        margin-top: 32px;
    }

    .footer {
        padding-top: 55px;
    }
}


@media only screen and (max-width: 768px) {
    .header {
        height: 422px;
    }

    .header__toggle-language {
        top: 20px;
    }

    .header__logo {
        max-width: 290px;
        height: auto;
        margin-top: 18px;
    }

    .header__description {
        margin-top: 80px;
        font-size: 24px;
    }

    .header__btn {
        margin-top: 68px;
    }

    .header .swiper-pagination {
        bottom: 16px;
        justify-content: center;
        transform: translateX(calc(-50% - 15px));
    }


    .get__line {
        display: none;
    }

    .get__title {
        margin-top: 20px;
    }

    .get__block {
        margin-top: 0;
    }

    .get__images img {
        position: relative;
        top: 10px;
        left: -100px;
    }

    .get__item-title {
        margin-top: 17px;
    }

    .get__item-description {
        margin-top: 12px;
    }

    .get__items {
        padding-left: 9px;
        padding-top: 66px;
    }

    .get__item:not(:first-child) {
        margin-top: 15px;
    }

    .get__images {
        padding: 0;
    }

    .section__title {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .section__title span {
        font-weight: 400;
    }

    .sale {
        padding-top: 30px;
    }

    .sale__line {
        display: none;
    }

    .sale__item {
        max-width: 230px;
    }

    .sale__items {
        flex-direction: column;
        align-items: center;
        margin-top: 35px;
    }

    .sale__item:nth-child(2) {
        margin: 20px 0 18px;
    }


    .think {
        margin-top: 60px;
    }

    .think .container {
        margin: 0;
        padding-left: 15px;
    }

    .think__slide {
        width: 160px;
    }

    .think__slider {
        margin-top: 26px;
    }

    .think__btn {
        margin-top: 25px;
    }

    .become-partner__title {
        margin-top: 50px;
    }

    .become-partner__subtitle {
        margin-top: 5px;
    }

    .become-partner__block {
        margin-top: 73px;
        row-gap: 45px;
    }
    .footer {
        padding-top: 38px;
    }

    .footer__container {
        align-items: center;
    }

}